.diction-reset-parent {
    all: initial;
    font-size: 16px;
}

.diction-tr {
    position: fixed;
    top: 1em;
    right: 1em;
}

.diction-tl {
    position: fixed;
    top: 1em;
    left: 1em;
}

.diction-br {
    position: fixed;
    bottom: 1em;
    right: 1em;
}

.diction-bl {
    position: fixed;
    bottom: 1em;
    left: 1em;
}

.diction-notification {
    z-index: 10000;
    background-color: black;
    color: white;
    padding: 1em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    max-width: 18em;
    max-height: 36em;
    font-family: Arial, sans-serif;
    overflow-y: auto;
}

.diction-notification hr {
    display: block;
    margin: 0.5em auto;
    border-style: inset;
    border-width: 1px;
    border-color: white;
    background-color: white;
}

.diction-notification ol {
    display: block;
    list-style-type: decimal;
    margin: 0;
    padding-left: 1em;
    color: inherit;
    background-color: inherit;
}

.diction-notification li {
    margin-bottom: 8px;
    font-size: smaller;
}

.diction-notification li:last-child {
    margin-bottom: 0;
}

.diction-notification .ex {
    color: inherit;
    font-style: italic;
    background-color: inherit;
}

.diction-notification h4 {
    display: block;
    margin: 0.67em 0;
    font-weight: bold;
    color: inherit;
    background-color: inherit;
}

.diction-notification small {
    font-size: smaller;
}

.diction-notification .type {
    color: inherit;
    background-color: inherit;
    font-style: oblique;
    font-size: 0.75em;
    margin-top: 1em;
    margin-bottom: 0.67em;
}

.diction-fade-in {
    animation: fadeIn ease 0.5s;
    -webkit-animation: fadeIn ease 0.5s;
    -moz-animation: fadeIn ease 0.5s;
    -o-animation: fadeIn ease 0.5s;
    -ms-animation: fadeIn ease 0.5s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.diction-fade-out {
    animation: fadeOut ease 0.5s;
    -webkit-animation: fadeOut ease 0.5s;
    -moz-animation: fadeOut ease 0.5s;
    -o-animation: fadeOut ease 0.5s;
    -ms-animation: fadeOut ease 0.5s;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-moz-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-o-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-ms-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}